<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateer.ec1.order.mapper.OrderMapper">
    <select id="getBnfNo" resultType="java.lang.String" flushCache="true" useCache="false">
        select concat('B', nextval('nextval_bnf_no'))
    </select>

    <resultMap id="orderProductViewMap" type="orderProductView">
        <association property="orderProductVO" autoMapping="true" columnPrefix="op_"/>
        <association property="productInfoVO" autoMapping="true" />
    </resultMap>

    <select id="getOrderProductView" resultMap="orderProductViewMap">
        with ord_prd as (
            <foreach collection="orderProductVOList" item="ordPrd" separator="union all">
                select
                    #{ordPrd.ordCnt, jdbcType=INTEGER} as ord_cnt
                    , #{ordPrd.goodsNo, jdbcType=VARCHAR} as goods_no
                    , #{ordPrd.itemNo, jdbcType=VARCHAR} as item_no
                    , #{ordPrd.goodsNm, jdbcType=VARCHAR} as goods_nm
                    , #{ordPrd.itemNm, jdbcType=VARCHAR} as item_nm
            </foreach>
        )
        select
            op.ord_cnt as op_ord_cnt
             , op.goods_no as op_goods_no
             , op.item_no as op_item_no
             , op.goods_nm as op_goods_nm
             , op.item_nm as op_item_nm
             , gd.goods_no
             , gd.goods_nm
             , gd.goods_tp_cd
             , gd.sale_prc
             , gd.prm_prc
             , gd.prgs_stat_cd
             , gd.goods_dlv_tp_cd
             , itm.item_no
             , itm.item_nm
        from ord_prd op left join pr_goods_base gd on op.goods_no = gd.goods_no
                        left join pr_item_info itm on gd.goods_no = itm.goods_no and op.item_no = itm.item_no
    </select>

    <select id="validateAmount"  resultType="java.lang.Boolean">
        with clm_cst as(
            select
                clm.ord_no
                 , coalesce(sum(clm.ord_amt * clm.ord_cnt),0) as clm_sum
                 , coalesce(sum(cst.aply_dv_amt),0) as cst_sum
            from op_clm_info clm inner join op_ord_cost_info cst on clm.ord_no = cst.ord_no and clm.dv_grp_no = cst.dv_grp_no
            where clm.ord_clm_tp_cd = 'O'
              and (clm.ord_prgs_scd = '10' or clm.ord_prgs_scd = '20')
              and cst.aply_ccd = '10'
            group by clm.ord_no
        ),bnf as(
            select bnf.ord_no
                 ,coalesce(sum(ord_bnf_amt),0) as bnf_sum
            from (
                     select distinct rel.ord_no, inf.ord_bnf_no, inf.ord_bnf_amt
                     from op_ord_bnf_rel_info rel inner join op_ord_bnf_info inf on rel.ord_bnf_no = inf.ord_bnf_no
                     where rel.aply_cncl_ccd = '10'
                 ) as bnf
            group by ord_no
        ), pay as (
            select ord_no
                 , coalesce(sum(pay_amt),0) as pay_sum
            from op_pay_info
            where pay_ccd = '10'
              and ( pay_prgs_scd = '10' or pay_prgs_scd = '20')
            group by ord_no
        )
        select
            pay_sum = clm_sum + cst_sum - coalesce(bnf_sum, 0)
        from pay inner join clm_cst on pay.ord_no = clm_cst.ord_no
                 left join bnf on bnf.ord_no = clm_cst.ord_no
        where pay.ord_no = #{ordNo}
    </select>

</mapper>