<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateer.ec1.claim.mapper.ClaimMapper">
    <select id="getClaimNo" resultType="java.lang.String">
        select concat('C', to_char(now(), 'YYYYMMDD'), nextval('nextval_clm_no'))
    </select>

    <resultMap id="claimGoodsWithBnfMap" type="claimGoodsInfo" autoMapping="true">
        <id column="ord_no" property="ordNo" />
        <id column="ord_seq" property="ordSeq" />
        <id column="proc_seq" property="procSeq"/>
        <collection property="benefitBaseVOList" ofType="orderBenefitBaseVO" autoMapping="true" notNullColumn="ord_bnf_no" />
    </resultMap>

    <select id="getClaimGoodsWithBnfList" resultMap="claimGoodsWithBnfMap">
        select
            clm.ord_no,
            clm.ord_goods_no,
            clm.ord_item_no,
            clm.ord_seq,
            clm.proc_seq,
            clm.ord_clm_tp_cd,
            clm.ord_prgs_scd,
            clm.dv_rvt_ccd,
            clm.ord_amt,
            clm.ord_cnt,
            clm.cncl_cnt,
            clm.rtgs_cnt,
            clm.dv_grp_no,
            clm.ord_clm_req_dtime,
            clm.ord_clm_acpt_dtime,
            clm.ord_clm_cmt_dtime,
            clm.clm_no,
            clm.org_proc_seq,
            gd.goods_sell_tp_cd,
            brl.ord_no,
            brl.ord_bnf_no,
            brl.ord_no,
            brl.proc_seq,
            brl.aply_cncl_ccd,
            brl.aply_amt,
            bnf.prm_no,
            bnf.cpn_iss_no,
            bnf.cpn_knd_cd,
            bnf.ord_bnf_amt,
            bnf.degr_ccd
        from op_clm_info clm inner join op_goods_info gd on clm.ord_no = gd.ord_no and clm.ord_goods_no = gd.ord_goods_no and clm.ord_item_no = gd.ord_item_no
            left join op_ord_bnf_rel_info brl on clm.ord_no = brl.ord_no and clm.ord_seq = brl.ord_seq and clm.proc_seq = brl.proc_seq
            left join op_ord_bnf_info bnf on brl.ord_bnf_no = bnf.ord_bnf_no
        where <foreach collection="list" item="item" separator="or">
                (       clm.ord_no = #{item.ordNo}
                        and clm.ord_seq =  #{item.ordSeq}
                        and clm.proc_seq = #{item.procSeq}
                )
            </foreach>
    </select>

    <select id="getClaimDeliveryCostInfoList" resultType="claimDeliveryCostInfo">
        with dvp_cst_req as (
            <foreach collection="list" item="item" separator="union all">
                select
                    #{item.ordCstNo, jdbcType=VARCHAR} as ord_cst_no,
                    #{item.dvPlcTpCd, jdbcType=VARCHAR} as dv_plc_tp_cd,
                    #{item.imtnRsnCcd, jdbcType=VARCHAR} as imtn_rsn_ccd
            </foreach>
        )
        select
            dvp_cst_req.*,
            cst.dv_grp_no,
            cst.aply_ccd,
            cst.org_ord_cst_no,
            cst.clm_no,
            cst.ord_no,
            cst.dv_amt_tp_cd,
            cst.org_dv_amt,
            cst.dv_bnf_amt,
            cst.aply_dv_amt,
            cst.cncl_dv_amt
        from op_ord_cost_info cst inner join dvp_cst_req on cst.ord_cst_no = dvp_cst_req.ord_cst_no
    </select>

    <select id="getOrgOpClmList" resultType="com.plateer.ec1.claim.vo.ClaimGoodsInfo">
        select *
        from op_clm_info clm
        where
            <foreach collection="list" item="item" separator="or">
                (
                    clm.ord_no = #{item.ordNo}
                    and clm.ord_seq =  #{item.ordSeq}
                    and clm.org_proc_seq = #{item.procSeq}
                )
    </foreach>
    </select>
</mapper>