<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateer.ec1.promotion.download.mapper.CupDwlMapper">
    <sql id="cup_iss_cnt">
        (select count(*) from cc_cpn_issue where prm_no = #{prmNo} and org_cpn_iss_no is null) as total_cnt,
        (select count(*) from cc_cpn_issue where prm_no = #{prmNo} and mbr_no = #{mbrNo} and org_cpn_iss_no is null) as mbr_cnt
    </sql>

    <select id="getCupDwlInfo" resultType="com.plateer.ec1.promotion.com.vo.CupInfoVO">
        <include refid="com.plateer.ec1.promotion.com.mapper.CupInfoMapper.sql_cupInfo" />
        select ci.*,
            <include refid="cup_iss_cnt" />
        from cup_info as ci
        where 1 = 1
            and ci.use_yn = 'Y'
            and ci.prm_no = #{prmNo}
    </select>

    <select id="getOfflineCupInfo" resultType="com.plateer.ec1.promotion.com.vo.CupInfoVO">
        <include refid="com.plateer.ec1.promotion.com.mapper.CupInfoMapper.sql_cupInfo" />
        select ci.*,
               iss.cup_iss_no
        <include refid="cup_iss_cnt" />
        from cup_info as ci inner join cc_cpn_issue as iss on ci.prm_no = iss.prm_no
        where 1 = 1
            and ci.use_yn = 'Y'
            and iss.cpn_cert_no = #{cpnCertNo}
    </select>

</mapper>