<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateer.ec1.promotion.point.mapper.PointTrxMapper">
    <insert id="insertPoint">
        INSERT INTO cc_mbr_pnt(
                               mbr_no
                               , sv_use_ccd
                               , sv_use_amt
                               , pnt_blc
                               , ord_no
                               , pay_no
                               , sys_reg_dtime
                               , sys_regr_id
                               , sys_mod_dtime
                               , sys_modr_id
                               )
                VALUES(
                       #{mbrNo}
                       , #{svUseCcd}
                       , #{svUseAmt}
                       , #{pntBlc}
                       , #{ordNo}
                       , #{payNo}
                       , now()
                       , #{loginId}
                       , now()
                       , #{loginId}
                       )
    </insert>
</mapper>