<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateer.ec1.promotion.cupusecnl.mapper.CupUseCnlTrxMapper">
    <update id="updateCupUsed">
        <foreach collection="list" item="item">
        update cc_cpn_issue
        set    cpn_use_dt = now(),
               ord_no = #{item.ordNo},
               sys_mod_dtime = now(),
               sys_modr_id = #{item.loginId}
        where  cpn_iss_no = #{item.cpnIssNo}
        </foreach>
    </update>

    <select id="insertOrgCup">
        insert into cc_cpn_issue
            (
             mbr_no,
             org_cpn_iss_no,
             sys_reg_dtime,
             sys_regr_id,
             sys_mod_dtime,
             sys_modr_id,
             prm_no
            )
        values
               <foreach collection="list" item="item" separator=",">
                   (
                   #{item.mbrNo},
                   #{item.cpnIssNo},
                   now(),
                   #{item.loginId},
                   now(),
                   #{item.loginId},
                   #{item.prmNo}
                   )
               </foreach>
    </select>
</mapper>