<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateer.ec1.promotion.apply.mapper.PrmApplyMapper">

    <resultMap id="ApplicableCupMap" type="com.plateer.ec1.promotion.apply.vo.PrmAplyVO">
        <id column ="goods_no"/>
        <id column ="item_no"/>
        <association property="productInfoVO" autoMapping="true"/>
        <collection property="applicableCupVOList" autoMapping="true" notNullColumn="cpn_iss_no">
            <id property="cpnIssNo" column="cpn_iss_no"/>
        </collection>
    </resultMap>

    <sql id="prm_apy_info">
        <include refid="com.plateer.ec1.promotion.com.mapper.CupInfoMapper.sql_cupInfo" />
        <!-- 상품정보 쿼리를 타야하는지 이렇게 하는지 여쭤보기 -->
        , prd as(
        <foreach collection="productInfoVOList" item="productInfoVO" separator="union all">
            select
                #{productInfoVO.goodsNo} as goods_no,
                #{productInfoVO.itemNo} as item_no,
                #{productInfoVO.orrAt} as orr_at
        </foreach>
        ), aply as (
            select
                prd.*,
                apy.prm_no
            from cc_prm_aply_tgt apy inner join prd on apy.aply_tgt_no = prd.goods_no
        )
    </sql>

    <select id="getApplicablePrmList" resultMap="ApplicableCupMap">
        <include refid="prm_apy_info" />
        select
            aply.goods_no,
            aply.item_no,
            ci.prm_no,
            ci.prm_nm,
            ci.dc_ccd,
            ci.dc_val,
            ci.min_pur_amt,
            ci.max_dc_amt,
            iss.cpn_iss_no,
            case when ci.prm_priod_ccd = '10' or ci.prm_kind_cd = '10' then ci.prm_end_dt
            else iss.sys_mod_dtime + ci.prm_std_dd * interval '1 day'
            end prm_end_dt
        from cup_info ci inner join aply on ci.prm_no = aply.prm_no
                         left join cc_cpn_issue iss on aply.prm_no = iss.prm_no and iss.mbr_no = #{mbrNo}
        where 1 = 1
            and now() <![CDATA[<]]> ci.prm_end_dt
            and ci.prm_kind_cd = #{prmKindCd}
            and ci.min_pur_amt <![CDATA[<]]> aply.orr_at
            and ci.cpn_kind_cd =  #{cpnKindCd}
            and iss.cpn_use_dt is null
    </select>

</mapper>