<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateer.ec1.promotion.apply.mapper.PrmApplyMapper">

    <resultMap id="ApplicableCupMap" type="com.plateer.ec1.promotion.apply.vo.PdPrmVO" autoMapping="true">
        <association property="productInfoVO" autoMapping="true"/>
        <association property="applicablePrmVO" autoMapping="true"/>
    </resultMap>

    <sql id="prm_apy_info">
        <include refid="com.plateer.ec1.promotion.com.mapper.CupInfoMapper.sql_cupInfo" />
        , prd as(
        <foreach collection="productInfoVOList" item="productInfoVO" separator="union all">
            select
                #{productInfoVO.goodsNo} as goods_no,
                #{productInfoVO.itemNo} as item_no,
                #{productInfoVO.orrCnt} as orr_cnt,
                #{productInfoVO.orrAt} as orr_at,
                #{productInfoVO.salePrc} as sale_prc,
                #{productInfoVO.prmPrc} as prm_prc
        </foreach>
        ), aply as (
            select
                prd.*,
                apy.prm_no
            from cc_prm_aply_tgt apy inner join prd on apy.aply_tgt_no = prd.goods_no
        )
    </sql>

    <select id="getApplicablePrmList" resultMap="ApplicableCupMap">
        <include refid="prm_apy_info" />
        select
            concat (aply.goods_no, '', aply.item_no) as goods_item_no,
            concat(ci.prm_no, '', iss.cpn_iss_no) as prm_cpn_iss_no,
            aply.*,
            ci.prm_no,
            ci.prm_nm,
            ci.dc_ccd,
            ci.dc_val,
            ci.min_pur_amt,
            ci.max_dc_amt,
            iss.cpn_iss_no,
            case when ci.prm_priod_ccd = '10' or ci.prm_kind_cd = '10' then ci.prm_end_dt
            else iss.sys_mod_dtime + ci.prm_std_dd * interval '1 day'
            end prm_end_dt
        from cup_info ci inner join aply on ci.prm_no = aply.prm_no
                         left join cc_cpn_issue iss on aply.prm_no = iss.prm_no and iss.mbr_no = #{mbrNo}
        where 1 = 1
            and now() <![CDATA[<]]> ci.prm_end_dt
            and ci.prm_kind_cd = #{prmKindCd}
            and ci.cpn_kind_cd =  #{cpnKindCd}
            and iss.cpn_use_dt is null
            <if test = "!@com.plateer.ec1.promotion.enums.PRM0004Code@CART_COUPON.getCode().equals(cpnKindCd)">
                and ci.min_pur_amt <![CDATA[<=]]> coalesce(aply.orr_at, coalesce(aply.sale_prc, 0))
            </if>
    </select>

</mapper>