<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateer.ec1.promotion.com.mapper.CupInfoMapper">
    <sql id="sql_cupInfo">
        with cup_info as (
            select
                prm.prm_no,
                prm.prm_nm,
                prm.use_yn,
                prm.prm_priod_ccd,
                prm.prm_end_dt,
                prm.prm_std_dd,
                prm.prm_kind_cd,
                prm.dc_ccd,
                prm.dc_val,
                prm.min_pur_amt,
                prm.max_dc_amt,
                cup.cpn_kind_cd,
                cup.degr_ccd,
                to_date(cup.dwl_avl_end_dd, 'YYYYMMDD') as dwl_avl_end_dd,
                cup.dwl_psb_cnt,
                cup.psn_dwl_psb_cnt
            from cc_prm_base as prm left join cc_cpn_base as cup on prm.prm_no = cup.prm_no
        )
    </sql>

    <select id="getCupInfo" resultType="com.plateer.ec1.promotion.com.vo.CupInfoVO">
        <include refid="sql_cupInfo"/>
        select ci.*
        from cup_info as ci
        where 1 = 1
            and ci.use_yn = 'Y'
            and ci.prm_no = #{prmNo}
    </select>

    <select id="getIssuedCupInfo" resultType="com.plateer.ec1.promotion.com.vo.CupInfoVO">
        select
            iss.prm_no,
            iss.cpn_iss_no,
            iss.mbr_no,
            case when prm.prm_priod_ccd = '10' then prm.prm_end_dt
                else iss.sys_mod_dtime + prm.prm_std_dd * interval '1 day'
            end prm_end_dt,
            iss.cpn_use_dt
        from cc_prm_base as prm inner join cc_cpn_issue as iss on prm.prm_no = iss.prm_no
        where iss.cpn_iss_no = #{cpnIssNo}
    </select>

</mapper>